<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <li><b>Adultos</b></li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-botao-controle operacao="incremento"/>
          <span style="margin: 15px">1</span>
          <app-botao-controle operacao="decremento"/>
        </li>
      </ul>
      <ul>
        <li><b>Crianças</b></li>
        <li>(Entre 2 e 11 anos)</li>
        <li>
          <app-botao-controle operacao="incremento"/>
          <span style="margin: 15px">1</span>
          <app-botao-controle operacao="decremento"/>
        </li>
      </ul>
      <ul>
        <li><b>Bebês</b></li>
        <li>(Até 2 anos)</li>
        <li>
          <app-botao-controle operacao="incremento"/>
          <span style="margin: 15px">1</span>
          <app-botao-controle operacao="decremento"/>
        </li>
      </ul>
    </div>
    <div class="categoria">
      <h2>Categoria</h2>
      <mat-chip-listbox aria-label="Categoria">
        <mat-chip-option>Executiva</mat-chip-option>
        <mat-chip-option selected>Econômica</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</section>
